.quote {
  padding: 85px 0;
  margin-bottom: 180px;

  &__container {
    position: relative;
    border: $white 1px solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 50px 80px;
  }

  &__main {
    position: relative;
    width: 55%;
  }

  &__bg {
    opacity: 10%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    padding-bottom: 25px;
    border-bottom: rgba($white, 0.6) 1px solid;
    margin-bottom: 24px;
  }

  &__image {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
  }
}
