.footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &__contacts {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-transform: uppercase;
  }

  &__contacts-lable {
    text-align: end;
  }

  &__social {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  &__social-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $accent;
    border: 8px solid $gray;
    border-radius: 100px;
    transition: border linear 0.1s;
    cursor: pointer;
  }

  &__social-item-container:hover {
    border: 4px solid $gray;
  }

  &__social-item-container:hover &__social-item {
    transform: rotate(-10deg) scale(1.05);
  }

  &__social-item {
    max-width: 24px;
    max-height: 24px;
    transition: transform linear 0.1s;
  }

  &__copyright {
    margin-top: 40px;
  }
}
